
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="ja sam jebena.css">
    </head>
    <body>
      <!-- original code https://codepen.io/thecalicoder -->
<div id="page">
  <div class="navigation"><a class="active" href="" onClick=" onRouteClick('a'); return false; ">about</a><a href="" onClick=" onRouteClick('b'); return false; ">work</a><a href="" onClick=" onRouteClick('c'); return false; ">contact</a></div>
  <div class="loader"></div>
  <div class="container">
    <div class="a">
      <div class="at ac">About</div>
    </div>
  </div>
  <div class="container">
    <div class="b">
      <div class="bt ac">work</div>
    </div>
  </div>
  <div class="container">
    <div class="c">
      <div class="ct ac">contact</div>
    </div>
  </div>
</div>
      <script src="ja sam jebena.js"></script>
    </body>
    </html>
  