
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="mala maša.css">
    </head>
    <body>
      <div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>
<div class="box2 delay"></div>
<div class="box2"></div>


<!-- made with https://neumorphism.io/#e0e0e0 -->


      <script src="mala maša.js"></script>
    </body>
    </html>
  