
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="luckyddd.css">
    </head>
    <body>
      
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="luckyfff.css">
    </head>
    <body>
      
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="lucky.css">
    </head>
    <body>
      <button>
	<div>
		A beautiful button
	</div>
</button>
      <script src="lucky.js"></script>
    </body>
    </html>
  
      <script src="luckyfff.js"></script>
    </body>
    </html>
  
      <script src="luckyddd.js"></script>
    </body>
    </html>
  