body{
  background: #e0e0e0;
  margin: 50px;
}

div{
  width: 100px;
  height: 100px;
  margin: 30px;
  display: inline-block;
}

.delay{
  animation-delay: 1.5s;
}

.box2{
border-radius: 110px;
background: #e0e0e0;
box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff,
            0px 0px 0px #bebebe,
            0px 0px 0px #ffffff;  
  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
 
}


@keyframes blink {
  0% {
       box-shadow: inset 20px 20px 60px #bebebe,
                   inset -20px -20px 60px #ffffff,
                   0px 0px 0px #bebebe,
                   0px 0px 0px #ffffff;  
  }
  50%{
       box-shadow: inset 0px 0px 0px #bebebe,
                   inset 0px 0px 0px #ffffff,
                   20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;    
  }
  90%{
       box-shadow: inset 0px 0px 0px #bebebe,
                   inset 0px 0px 0px #ffffff,
                   0px 0px 0px #bebebe,
                   0px 0px 0px #ffffff;    
  }
  100%{
       box-shadow: inset 0px 0px 0px #bebebe,
                   inset 0px 0px 0px #ffffff,
                   0px 0px 0px #bebebe,
                   0px 0px 0px #ffffff;    
  }
  
}