
  <!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" type="text/css" href="undefined.css">
    <link rel="stylesheet" type="text/css" href="mojamalakurva.css">
  </head>
  <body>
    
  <!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" type="text/css" href=" .css">
    <link rel="stylesheet" type="text/css" href="mojamala.css">
  </head>
  <body>
    <div class="btn-group">
  <button class="btn">
    <div id="extra"></div>
    <span class="text">Hover Me!!</span>
  </button>
  <button class="btn">
    <div id="extra"></div>
    <span class="text">Hover Me!!</span>
  </button>
  <button class="btn">
    <div id="extra"></div>
    <span class="text">Hover Me!!</span>
  </button>
  <button class="btn">
    <div id="extra"></div>
    <span class="text">Hover Me!!</span>
  </button>
</div>
    <script src=" .js"></script>
    <script src="mojamala.js"></script>
    </body>
  </html>

    <script src="undefined.js"></script>
    <script src="mojamalakurva.js"></script>
    </body>
  </html>
