
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="blurio.css">
    </head>
    <body>
      
<div>The quick brown fox jumps over the lazy dog</div>
<div class="right">The quick brown fox jumps over the lazy dog</div>
<div>The quick brown fox jumps over the lazy dog</div>
<div class="right">The quick brown fox jumps over the lazy dog</div>
<div>The quick brown fox jumps over the lazy dog</div>
<div class="right">The quick brown fox jumps over the lazy dog</div>
<div>The quick brown fox jumps over the lazy dog</div>
<div id="blurs">
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
  <div class="blur red"></div>
  <div class="blur blue"></div>
</div>
      <script src="blurio.js"></script>
    </body>
    </html>
  