
  <!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js.css">
    <link rel="stylesheet" type="text/css" href="unoparla.css">
  </head>
  <body>
                <!-- The Glow Button -->
            <a href="https://stacksorted.com/" class="GlowingButton" target="_blank">



                <!-- Glow -->
                <div class="GlowingButton__glowWrap l"><span class="GlowingButton__glow"></span></div>
                <div class="GlowingButton__glowWrap r"><span class="GlowingButton__glow"></span></div>
                <!-- /Glow -->
                <!-- Overlay -->
                <span class="GlowingButton__overlay"></span>
                <!-- Overlay -->
                <!-- Content -->
                <div class="GlowingButton__content">
                    <span>Cool Button </span>
                    <span>Cool Button </span>
                </div>
                <!-- /Content -->


            </a>
            <!-- /The Glow Button -->

    <script src=".js"></script>
    <script src="unoparla.js"></script>
    </body>
  </html>
