
  <!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" type="text/css" href=" .css">
    <link rel="stylesheet" type="text/css" href="jyjyjyjy.css">
  </head>
  <body>
    
<h1>Who doesn't like fun buttons?</h1>
<button class="btn first">Button 1</button>
<button class="btn second">Button 2</button>
<button class="btn third">Button 3</button>
<button class="btn fourth">Button 4</button>
<button class="btn fifth">Button 5</button>
<button class="btn sixth">Button 6</button>
<p>Inspiration for new ways to make interactive buttons using linear-gradients, box-shadows, and pseudo classes!</p>
    <script src=" .js"></script>
    <script src="jyjyjyjy.js"></script>
    </body>
  </html>
