
  <!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" type="text/css" href=" .css">
    <link rel="stylesheet" type="text/css" href="pushi.css">
  </head>
  <body>
    <div class="btn-group">
  <button class="btn">
    <div id="extra"></div>
    <span class="text">Hover Me!!</span>
  </button>
  <button class="btn">
    <div id="extra"></div>
    <span class="text">Hover Me!!</span>
  </button>
  <button class="btn">
    <div id="extra"></div>
    <span class="text">Hover Me!!</span>
  </button>
  <button class="btn">
    <div id="extra"></div>
    <span class="text">Hover Me!!</span>
  </button>
</div>
    <script src=" .js"></script>
    <script src="pushi.js"></script>
    </body>
  </html>
