body{
  background: #e0e0e0;
  margin: 50px;
}

div{
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  display: inline-block;
}

.scale0{
  z-index: 100;
  animation-delay: 0.8s;
  transform: scale(1,1);  
}

.scale1{
  z-index: 99;
  animation-delay: 0.6s;
  transform: scale(2,2);  
}

.scale2{
  z-index: 98;
  animation-delay: 0.4s;
  transform: scale(3,3);
}

.scale3{
  z-index: 97;
  animation-delay: 0.2s;
  transform: scale(4,4);
}

.scale4{
  z-index: 96;
  animation-delay: 0.0s;
  transform: scale(5,5);
}


:root {
  
  --box-shadow: 0px 0px 10px #ccc;
}


.box2{
border-radius: 10px;
background: #e0e0e0;
box-shadow: var(--zero); 
  animation-name: anim;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
 
}

:root {
  --zero: inset 0px 0px 0px #bbb,
                   inset 0px 0px 0px #fff,
                   0px 0px 0px #bbb,
                   0px 0px 0px #fff;
  --a: inset 20px 20px 60px #bebebe,
                   inset -20px -20px 60px #fff,
                   0px 0px 0px #bbb,
                   0px 0px 0px #fff;  
  --b: inset 0px 0px 0px #bebebe,
                   inset 0px 0px 0px #fff,
                   20px 20px 60px #bbb,
                   -20px -20px 60px #fff;
}

@keyframes anim {
  0%{
    box-shadow: var(--zero);    
  }
  20%{
    box-shadow: var(--b);   
  }
  40%, 50%{
       box-shadow: var(--zero);  
  }
  70%{
    box-shadow: var(--a);   
  }
  90%, 100%{
       box-shadow: var(--zero);  
  }  
  
}