
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="Pure-Css-Dropdown.css">
    </head>
    <body>
      <div class="container">
  <div class="select">
    Dropdown
    <div class="options">
      <label><input type="checkbox">Austin</label>
      <label><input type="checkbox">Baltimore</label>
      <label><input type="checkbox">Boston</label>
      <label><input type="checkbox">Chicago</label>
      <label><input type="checkbox">Detroit</label>
      <label><input type="checkbox">Las Vegas</label>
      <label><input type="checkbox">Los Angeles</label>
      <label><input type="checkbox">New York</label>
      <label><input type="checkbox">Phoenix</label>
      <label><input type="checkbox">Portland</label>
      <label><input type="checkbox">Seattle</label>
    </div>
  </div>
</div>
      <script src="Pure-Css-Dropdown.js"></script>
    </body>
    </html>
  