@charset "UTF-8";
html, body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: blue;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.select {
  position: relative;
  display: inline-block;
  border: 5px solid blue;
  padding: 8px;
  background-color: white;
}
.select:after {
  content: "▼";
  margin-left: 10px;
  font-size: 10px;
}
.select:hover {
  cursor: pointer;
}

.options {
  visibility: hidden;
  position: absolute;
  border: 5px solid blue;
  padding: 8px;
  top: 100%;
  left: -5px;
  /* compensate for border */
  background-color: white;
  text-align: left;
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  white-space: nowrap;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version */
}
.options:hover {
  cursor: default;
}
.select:hover .options {
  visibility: visible;
}

label:hover,
input[type=checkbox]:hover {
  cursor: pointer;
}

label {
  display: block;
  height: 25px;
  line-height: 25px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0;
  margin-right: 5px;
  outline: none;
  border: 3px solid blue;
}
input[type=checkbox]:checked {
  background-color: blue;
}