
  <!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" type="text/css" href=" .css">
    <link rel="stylesheet" type="text/css" href="nova.css">
  </head>
  <body>
    <div class="buttons"> 
<h1>Simple hover effects with <code>box-shadow</code></h1>
  <button class="pulse">Pulse</button>
  <button class="close">Close</button>
  <button class="raise">Raise</button>
  <button class="up">Fill Up</button>
</div>
    <script src=" .js"></script>
    <script src="nova.js"></script>
    </body>
  </html>
