
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" type="text/css" href="menu.css">
    </head>
    <body>
      <header class="header">
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item"><a href="#" class="header__link js-header__link"><span>Home</span></a></li>
      <li class="header__item"><a href="#" class="header__link js-header__link"><span>About</span></a></li>
      <li class="header__item"><a href="#" class="header__link js-header__link"><span>Works</span></a></li>
      <li class="header__item"><a href="#" class="header__link js-header__link"><span>Contact</span></a></li>
    </ul>
    
  </nav>
</header>
<div class="cursor js-cursor"></div>
      <script src="menu.js"></script>
    </body>
    </html>
  